section{
    width:80%;
    margin: auto;
    margin-top: 5%;
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-template-rows: auto;
}

.cards{
    width: 250px;
    padding: 20px;
}

.cards:hover{
    box-shadow: 0 5px 5px 5px rgb(175, 63, 63);
    cursor: pointer;
}
.image_box img{
    width: 150px;
    height: 200px;
}
.details p:nth-child(1){
    font-weight: bold;
}
.details p:nth-child(2){
    color: rgb(231, 58, 14);
    font-size: 0.8rem;
}
.details p:nth-child(3){
   font-weight: bold;
   color: rgb(223, 52, 52);
}
.details button {
    padding: 10px 10px;
    border: none;
    font-weight: bold;
    background-color: rgb(202, 116, 59);
    /* outline: none; */
    border-radius: 2px  solid black;
}